
<section class="hero">
<div class="container">
<h1>Full service outsourcing made simple.</h1>
<p class="main tagline">We offer web design, eCommerce development, mobile application development services globally ranging from Enterprises to Start-ups</p>

<a class="signup button" href="#">Contact us now!</a>
</div>
</section>

<section class="features">
<div class="container">

<div class="simple feature">
  <div class="graphic">
    <h2>Web and mobile application development team</h2>
  </div>

  <div class="copy">
    <p>Have a mobile app idea? Looking for tech co-founder for your next e-commerce start-up or just want some in-house software developed? Our team of web and mobile app developers will always be happy to help.</p>

    <p>Just drop us a line on what you plan to do and we will provide you with the best possible solution.</p>
  </div>
</div>

<div class="sources feature">

  <div class="graphic">
    <img alt="No uploading files! Just put files in Dropbox or Push to GitHub." src="/images/webdeisgn.png" width="480" />
  </div>

  <div class="copy">
    <h2>We're equally skilled in design.</h2>

    <p>We provide complete graphic and <strong>web design</strong> services from posters, flyers and banners to Web design, <strong>Facebook design</strong> and more.</p>
  </div>
</div>

<div class="pricing feature">

  <div class="graphic">
	<small>Plans starting from as low as</small>
    <sup><em>$</em></sup> 99<sub>/mo</sub>
  </div>

  <div class="copy feature">
    <h2>Voila! We do digital marketing as well.</h2>
    <p>Why does someone make a website? To bring in more business, right? Well, we make sure our clients earn more money by providing them awesome <strong>SEO, SEM and social media marketing services</strong> at very affordable prices.</p>
  </div>

</div>
</div>

<a class="signup button" href="#">Give it a go!</a>
</section class="testimonial">
</div>
<section class="testimonial-text">
	<div class="container">
	<h1>Client Tesitimonials</h1>
<div class="testimonial">
	<p>
		You guys are awesome! Thank you so much, I'm impressed! Super fast, and thanks for the free tips and advice! I will be working with you agian soon. <br/>
		<strong>Jilla Assaad</strong>
	</p>

	<p>Excellent job! We appreciate the professionalism and followup. Thank you!<br/>
	<strong>Dr. Janet Crain </strong>
	</p>

	<p>
		Great guys. Delivered work fast and had great communication. Highly recommend! <br/>
		<strong>Christina Graham</strong>
	</p>

	<p>
		Great work! Quick, effective, and a great problem solvers. Looking forward to working with you again!<br/>
	<strong>Cassandra Freeman</strong>
	</p>
</div>
</div>

</section>
<footer>
<span>made with smiles by</span>
<a href="http://supermatter.com" class="brand">happyfellas.com</a> 

</footer>