
<section class="hero short-intro work">
	<div class="container">
	<div class="row">
		<div class="col-md-12">
			
			
			<h1>Six Sixty Studios</h1>
			<p class="tags">Web Design | Web Development | Maintenance </p>
			<p class="normal">The client wanted a new and innovative blog + website design. He wanted the user to think he had landed on a portfolio website but as the user progressed into surfing deep in to the website he should discover all the information in a blog format. Blog + website format wasn't so popular at that time so I came up with the existing design and the client liked it. We went on to complete the website in 2 weeks.</p>
			<img src="/assets/portfolio/sixsixty/sixsixty1.png" alt="portfolio of a web designer - happfellas" class="col-md-12"/>
			
		</div>
		
	</div>
	</div>
</section>

<section class="work short-intro">
	<div class="container">
	<div class="row">

	
		
			<div class="col-md-12">
				
				
				<h1>Kabrus</h1>
				<p class="tags">Web Design | Web Development | e-commerce with Magento | Maintenance </p>
				<div class="img-container"><img src="/assets/portfolio/kabrus/kabrus1.png" alt="portfolio of a web designer - happfellas" class="col-md-12"/></div>
				<p class="normal">The client wanted someone who could give them a complete e-commerce solution starting from concept design to payment gateway implementation. They approached me to build a team who could pull this thing off. So I hired a couple of designers and a basic html developer. After several meetings with the client we made a thorough list of their requirements. I communicated all the requirements to the design team by providing them a rough wireframe of the application. The designers came up with a couple of mockups, one of which I got the client to approve. We went on with the coding of the application getting all the Photoshop elements into actual HTML/CSS code. When it was time to implement the e-commerce part I suggested to the client that they better use magento as it was a complete solution for what they were looking for. We successfully implemented, tested and deployed magento on to the client's web host.</p>
			</div>
	
	
		
			
				<div class="col-md-12">
					
					
					<h1>Butter Studios</h1>
					<p class="tags">Web Design | Web Development | SEO </p>
					<div class="img-container"><img src="/assets/portfolio/butterstudios/butterstudios2.png" alt="portfolio of a web designer - happfellas" class="col-md-12"/></div>
					<p class="normal">The client wanted to rank better on search engines for a particular keyword. After thorough inspection of the website I found out that there was scope for improvement in the SEO department. I lead a team to carry out various tasks like content writing, keyword identification, image optimization, link building etc. For this I had to identify the right resources for the job and make sure they did their job on a tight deadline provided by the client. The client went from being ranked outside of top 100 to within top 15 search results within 3 months of onsite optimization.</p>
				</div>
</div>

<div class="row">

	
	
				<div class="col-md-12">
					

					<h1>Pasta Transport</h1>
					<p class="tags">Web Application Development using Ruby on Rails</p>
					<div class="img-container"><img src="/assets/portfolio/pastatransport/pastatransport1.jpg" alt="portfolio of a web designer - happfellas" class="col-md-12"/></div>
					<p class="normal">A local transport company had many offices in many different locations. It was getting difficult for them to communicate and maintain all the transactional data on all the systems. This was hurting their productivity as well as there was a chance that the employees might commit a fraud. So the founder came to us to provide with a solution. So we came up with Troppy a data synchronization app for transport companies. Now they are able to maintain their data in a central cloud location and every update to the data is broadcasted to every user immediately. It also has access control implemented on a user level. Troppy was built in ruby on rails using Twitter Bootstrap. So I had to hire people who were good at designing interfaces and also knew their way around Twitter Bootstrap. I did much of the Ruby coding and got my design team to work on the UI. As a project manager I had to supervise the integration of the design into the Ruby on Rails application, also the testing and deployment of the application. </p>
				</div>
	
				<div class="col-md-12">
					
					<h1>Kabra Technocam</h1>
					<p class="tags">Web Design | Web Development | Social Media Management</p>
					<div class="img-container">
						<img src="/assets/portfolio/kabratechnocam/kabratechnocam1.png" alt="portfolio of a web designer - happfellas" class="col-md-6"/></div>
					<p class="normal">The client wanted a website built in just one week, as he had a urgent presentation to make. We stepped up to the occasion and delivered a highly professional looking website in the world's most famous content management system - Wordpress. The client also asked us to setup all the social media accounts for them. Till date we manage their social media accounts. </p>
				</div>
					
	</div>
	</div>
</section>
