<section class="hero thankyoupage">
<div class="container">
<h1>Thank you, your mail was sent</h1>	
<p class="main tagline">Someone from us will soon get in touch with you.Please feel free to browse till then, Go <%= link_to 'Back', root_url %> to the main page if you want to.</p>
</div>
</section>