<% content_for :title,  "Ruby on rails, HTML, CSS and SEO tips and tricks blog" %>


<section class="blog-content">
<ul class="all-posts">
<% @posts.each do |p| %>
<li class="single-post">
<%= link_to p.title, "/posts/#{p.slug}" %>
</li>
<% end %>
</ul>

<div class="cushion">
	<%= will_paginate @posts, renderer: BootstrapPagination::Rails  %>
</div>
</section>