@import 'bootstrap';

@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 400;
  src: local('Podkova'), local('Podkova-Regular'), url(http://themes.googleusercontent.com/static/fonts/podkova/v6/kr_ENTtdlqQbrdQMb3BZtgLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/7YGmE4Ls5b94ct65u07hVQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/0XxGQsSc1g4rdRdjJKZrNL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
    font-family: PreloSlab;
    src: url(preloslab-bold-webfont.woff);
}


body
{
	font-family: 'Raleway', sans-serif;	
	background: #fff url("assets/bg.png") top left repeat;
	
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
	margin-bottom:0px;
}
/* title */
.navbar-default .navbar-brand {
    color: #222;
	margin:0;
	padding:0 20px;
	font-weight:bold;
	letter-spacing:0.08em;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #222;

}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #222;
	text-align: center;
	padding: 13px 15px;
	font-size:13px;
	font-weight:bold;
	background-color: #fff;
 
	
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #2f3f4f;
text-decoration:none;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #2f3f4f;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #2f3f4f;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}


.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #222;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #222;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #3e3e3e;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #454545;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
		background-color:#2f3f4f;
		text-decoration:none;

    }
.navbar-default .navbar-nav > li > a 
{
	text-align:left;
}
}

/*********presets**********/
.offshadow
{
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}
.softshadow
{
	webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);
	box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
.rounded
{
	border-radius:5px;
}
.cushion
{
	padding:30px;
}
.cushion-1
{
	padding:10px;
}
.cushion-2
{
	padding:20px;
}

.centered-text
{
	text-align:center;
}
/***********************/

section
{
	min-height:560px;
}
div.container
{
	width:80%;
}


a.button {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 24px;
    background: #191919;
    color: #f0efd1;
    padding: 17px 60px 13px;
    text-decoration: none;
    position: relative
}

 a.button:hover {
    background: #2f3f4f;
}
a.button:before {
    background-color: transparent
}

/******************************************/
section.hero
{
	/*background-color:#cd3060;*/
	background-color:#b26839;
	background: url('../clear-dark.png'),url('../bg4.jpg') center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	min-height:500px;
	padding:90px 0px;

}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
	border:10px solid white;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
section.hero h1
{

	font-family: 'Raleway', sans-serif;	
	font-weight:900;
	font-size: 24px;
	line-height: 1.5em;
	margin-bottom: 5px;
	color: #fff;
	text-shadow: -4px 4px 0 rgba(0,0,0,0.12);
	letter-spacing: -0.05em;
	word-spacing:0.1em;
}

section.hero p.tagline
{
	color: #fff;
	text-shadow: 2px 2px 0 rgba(0,0,0,0.12);
	font-size: 14px;
}

section.hero p.tagline.main
{
	line-height: 22px;
	margin:10px 0px 45px;
}

 

form label 
{
	text-align:left;
	margin-bottom:15px;
	float:left;
	color:#000;
}





/********************************************/





section.short-intro {
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    color: #fff;
    padding: 120px 0 0;
    position: relative;
	background: #191919;

}
section.short-intro h1 {
	font-family: 'Raleway', sans-serif;	
	font-weight:900;
	color:#f0efd1;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.6);
	margin-bottom:30px;
	line-height:1.2em;
	padding:20px 0px 0px;
	text-align:center;

}
section.short-intro h1 span.yellow
{
	color:#cfba58;
}

section.short-intro  p.tags {

	text-align:left;
    margin-bottom: .8em;
    color: #fcfcfc;
	line-height:1.6em;
	text-transform:italic;
	
}



section.short-intro  p.normal {
	color:#f0efd1;
	padding:30px 0px;
	font-size:1.5em;
	text-align:center;
	
}
body section.work div.row h1, body section.work div.row p.normal
{
	text-align:left;
}
section.short-intro img
{

}
div.img-container
{
	overflow:hidden;
	margin:60px 0px 30px;
	text-align:center;
}

section.work div.col-md-12 
{
 -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 0 rgba(0, 0, 0, 0.2) inset;}

/***************Can Edit ******df4b28**********/

section.features {
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    background: #cfba58 url("assets/bg.png") top left repeat;
    color: #fff;
    padding: 70px 0 0;
    position: relative;
	text-align:center;


}

section.features .feature {
    *zoom: 1;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding: 25px 0 75px
}

section.features .feature:after {
    content: "";
    display: table;
    clear: both
}

section.features .graphic img
{
	width:100%;
}
section.features .feature .graphic {
}

section.features .feature .copy {
    
    line-height: 1.5
}

section.features .feature h2 {
    -webkit-font-smoothing: antialiased;
    font-weight: bolder;
	font-family: 'Raleway', sans-serif;	
    line-height: 1.3;
    font-size: 20px;
    margin-bottom: .5em;
    color: #fff;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
	letter-spacing: -0.05em;
	word-spacing:0.1em;
	text-transform:uppercase;

}
section.features .feature h3 {
	color:#fff;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.6);
	letter-spacing: -0.05em;
	word-spacing:0.1em;
	
}

section.features .feature p {
    margin-bottom: .8em;
    color: #191919;
	line-height:1.6em;
	
}

section.features .feature .copy {
    text-align: left
}

section.features .feature.simple .graphic h2 {
    font-size: 24px;
    margin-top: 1em
}

section.features .feature.sources .graphic {
    margin-right: 0;
}



section.features .feature.pricing .graphic {
 
    padding-top: 25px;
    height: 115px;
    background: transparent url("/images/bg.pricing.jpg") center center no-repeat;
    color: #fff;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.6);
    font-family: "PreloSlabBold", Rockwell, helvetica, arial, sans-serif;
    font-size: 48px
}

section.features .feature.pricing .graphic em, section.features .feature.pricing .graphic sub {
    font-size: 14px
}

section.features .feature.pricing .graphic sup {
    vertical-align: super;
    font-style: italic
}

section.features .feature.pricing .graphic small {
    display: block;
    margin-top: 15px;
    font-size: 10px;
    font-style: italic;
    font-family: "PT Sans", helvetica, arial, sans-serif
}

section.features .button {
    display: inline-block;
    bottom: -25px;
    z-index: 2
}

section.features .button:before {
    background-color: transparent
}


/********************************************/

section.text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fefdfc;
    padding: 30px
}

section.text .nav-pills {
    float: right
}

section.text .nav-pills a {
    color: #555
}

section.text .nav-pills li.active a {
    background: #555;
    color: #fff
}

section.text p {
    margin-bottom: 16px;
    line-height: 1.4
}

section.text em {
    font-style: italic
}

section.text ol {
    margin: 1em 1.2em
}

section.text ol li {
    list-style-type: decimal;
    line-height: 1.4
}

section.text ol li ol {
    margin: 1em 1em 1em 2em
}

section.text ol li ol li {
    list-style-type: lower-alpha;
    margin-bottom: .5em
}

section.text h1, section.text h2, section.text h3, section.text h4 {
    font-weight: bold;
    margin-bottom: .8em;
    color: #555
}

section.text h1 {
    font-size: 24px;
    border-bottom: 2px solid #555;
    padding: 10px 0
}

section.text h2 {
    font-size: 18px;
    border-bottom: 2px solid #555;
    text-transform: uppercase;
    margin: 1.2em 0
}

section.text h3 {
    font-size: 16px
}

section.text p.modified {
    text-align: center;
    font-style: italic;
    color: #ccc;
    padding: 10px
}
/*********************************/
body footer
{
	text-align: center;
	padding: 80px 0 20px;
	background: #191919;
	color: #a1a08f;
	clear:both;
}

section.testimonial-text
{
	background: url('../bg-red.jpg') center center fixed;
	min-height:450px;
	padding:30px 0px 120px 0px;
	text-align:center;
}

section.testimonial-text  h1 {
	padding-top:30px;
    font-weight: bold;
    font-family: 'Kameron', helvetica, arial, sans-serif;
    line-height: 1.3;
    font-size: 48px;
    margin-bottom: .5em;
	text-align:center;
	color: #fff;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.6);
	
	
}

section.testimonial-text .testimonial {
	padding:60px 0px;
    display: inline-block
}
section.testimonial-text .testimonial p {

color: #333;
line-height:1.5em;
padding:10px 20px;
border-bottom: 1px dashed #a1a08f;

}
h1.modal-title
{
	font-family: 'Kameron', serif;
	font-size: 44px;
	line-height: 52px;
	margin-bottom: 15px;
	color: #0b1b1f;
	text-shadow: 4px 4px 0 rgba(0,0,0,0.12);
}


div#more-footer
{
	min-height:20px;
	background-color:#fcfcfc;
	text-align:center;
	overflow:auto;
	padding:20px;
}

section.testimonial-text div.wrapper
{
	border:3px solid white;
	border-radius:20px;
	padding:20px;
	width:50%;
	margin:0 auto;
}

section.testimonial-text #slider span {

	color:#fff;
	font-size:20px;
	padding:0px 30px;
	text-align:left;
}
div#more-footer a{
	display:inline-block;
}
div#more-footer img
{
	width:60px;
	margin:10px;
}
/*************work page***************/

section.work
{

	padding:60px 0px 0px;
	
}
section.work.hero p
{
	color:#cecece;
}
section.work.features h1
{
	font-family: 'Raleway', sans-serif;	
	font-weight:900;
	font-size: 44px;
	line-height: 52px;
	margin-bottom: 15px;
	color: #191919;
	text-shadow: -4px 4px 0 rgba(0,0,0,0.12);
	letter-spacing: -0.05em;
	word-spacing:0.1em;
}
section.work.short-intro h1
{
	font-family: 'Raleway', sans-serif;	
	font-weight:900;
	font-size: 44px;
	line-height: 52px;
	margin-bottom: 15px;
	color: #cfba58;
	text-shadow: -4px 4px 0 rgba(0,0,0,0.12);
	letter-spacing: -0.05em;
	word-spacing:0.1em;
}
section.work img, section.work.short-intro img 
{
	margin-top:0;
	width:100%;
	padding:10px;
	background-color:#fff;
	border: 1px solid #ccc;
}



form
{
	text-align:left;
	color:#333;
	font-size:1.2em;
	margin:30px 0 60px;
}
form div.form-group
{
	padding:30px 0px;
	border-bottom:1px solid #e1e1e7;
}

form input[type="text"], form input[type="email"], form input[type="password"], form select
{
	padding:1.5em 1em;
	width:40%;
}
form label
{
	width:20%;
}

form input[type="checkbox"], form label
{
	text-align:left;
	color:#000;
}

div.form-links a
{
	text-align:left;
	color:#000;
	text-decoration:none;
	display:block;
	padding:5px 0px;
	font-weight:bold;
	
}

form.popup input[type="text"], form.popup input[type="email"], form.popup input[type="password"], form.popup select
{
	padding:1.5em 1em;
	width:80%;
}
form.popup label
{
	width:80%;
}
form.popup select {
	font-size:18px;
	color:#000;
  width: 100%;
	height:40px;
  border: 1px solid #ccc;
padding:0px 10px;
  background-color: #fff;
-webkit-appearance:none;
-moz-appearance:none;
-o-appearance:none;
border-radius:2px;
}
form.popup label 
{
	text-align:left;
	margin-bottom:15px;
	float:left;
	color:#000;
}
form.popup input
{
	color:#000;
}
/***********portfolio*******************/

.potrfolio-head {
	text-align: center;
	margin:8% auto;
	
}
section.portfolio-content{
	padding:60px 0px 180px;
}
.port-head {
	text-align: center;
	padding: 3em 0;
}
.port-head  h1
{
	font-weight:bold;
}
.potrfolio-head h2{
	color: #fff;
	font-size: 4em;
	padding: 0;
	font-weight: 700;
	line-height: 1.4em;
	font-family: 'Lato', sans-serif;
}


.portfolio-content h2
{
	font-size:24px;
	text-align:center;
}

.portfolio-content img
{
	height:220px;
	padding:80px 70px;
}
.portfolio-content img.light
{
	background-color:#000;
	padding:70px 60px;
}
.portfolio-content div.row h4
{
	color:#aaa;
	text-transform:uppercase;
}
/******************blog content*******************/

section.blog-content
{
	padding:60px;
	position:relative;
}
section.blog-content ul.all-posts li.single-post
{
		padding:10px;
		border-bottom:1px solid #ccc;
}
section.blog-content ul.all-posts li.single-post a 
{
	color:#333;
	font-size:1.5em;
	line-height:1.8em;
	padding:10px;
}
div.blog-post h1 a.post-title
{
	color:#000;
	font-weight:bold;
}

div.blog-post h1 a.post-title:hover, section.blog-content ul.all-posts li.single-post a:hover
{
	text-decoration:none;
	color:#cd3060;
}
div.blog-post p.blog-post-body
{
	font-size:1.3em;
	line-height:1.5em;
	padding:10px 0px;
}




/******************Responsive styles**************/

@media (max-width: 1000px) {
	div.container
	{
		width:90%;
	}
a.button 
{
	font-size:14px;
}

form input[type="text"], form input[type="email"], form input[type="password"], form select
{
	padding:1.5em 1em;
	width:80%;
}
}
@media (max-width: 500px) {

div.container
{
	width:100%;
}
section.blog-content div.sticky-top
{
	display:none;
}
a.button 
{
	font-size:14px;
	
}	
form input[type="text"], form input[type="email"], form input[type="password"], form select, form label
{
	padding:1.5em 1em;
	width:80%;
}
section
{
	min-height:200px;
}

section.testimonial-text  h1 {
	
	padding:10px;
	font-size:24px;
}

section.testimonial-text div.wrapper
{

	width:90%;
	margin:0 auto;
}

section.testimonial-text #slider span {


	font-size:14px;

}
div#more-footer
{
	padding:10px;
}
div#more-footer img
{
	width:30px;
}

video-container {
	margin-top:30px;
}
}