@import 'bootstrap';

@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 400;
  src: local('Podkova'), local('Podkova-Regular'), url(http://themes.googleusercontent.com/static/fonts/podkova/v6/kr_ENTtdlqQbrdQMb3BZtgLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/7YGmE4Ls5b94ct65u07hVQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/0XxGQsSc1g4rdRdjJKZrNL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
    font-family: PreloSlab;
    src: url(preloslab-bold-webfont.woff);
}


body
{
	font-family: 'Raleway', sans-serif;	
	background: #cd3060 url("assets/bg.png") top left repeat;
	
}

div.container
{
	width:80%;
}
body header .brand
{
	font-weight:bolder;
	color:#000; /**#0b1b1f;******/
	font-family: "Podkova",helvetica,sans-serif;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	font-size: 26px;
	float:left;
	
}

body header nav 
{
	float:right;
}
header
{
	margin-bottom:160px;
	
}
body header nav a
{
	color: #460e00;
	font-weight: bold;
	display: inline-block;
	margin-left: 20px;
}
a.button {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 24px;
    background: #191919;
    color: #f0efd1;
    padding: 17px 60px 13px;
    text-decoration: none;
    position: relative
}

 a.button:hover {
    background: #2f3f4f;
}
a.button:before {
    background-color: transparent
}

/******************************************/
section.hero
{
	min-height:500px;
	margin-bottom:60px;
	text-align: center;

}

section.hero h1
{

	font-family: 'Raleway', sans-serif;	
	font-weight:900;
	font-size: 44px;
	line-height: 52px;
	margin-bottom: 15px;
	color: #fff;
	text-shadow: -4px 4px 0 rgba(0,0,0,0.12);
	letter-spacing: -0.05em;
	word-spacing:0.1em;
}

section.hero p.tagline
{
	color: #cecece;
	text-shadow: 2px 2px 0 rgba(0,0,0,0.12);
	font-size: 14px;
}

section.hero p.tagline.main
{
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 75px;
}

 

form label 
{
	text-align:left;
	margin-bottom:15px;
	float:left;
	color:#000;
}



/********************************************/
section.short-intro {
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    color: #fff;
    padding: 120px 0 0;
    text-align: center;
    position: relative;
	background: #191919;


}
section.short-intro h1 {
	font-family: 'Raleway', sans-serif;	
	font-weight:900;
	color:#f0efd1;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.6);
	margin-bottom:30px;
	line-height:1.2em;
}
section.short-intro h1 span.yellow
{
	color:#cfba58;
}

section.short-intro  p.pull {

	text-align:left;
    margin-bottom: .8em;
    color: #fcfcfc;
	line-height:1.6em;
	
}
section.short-intro  p.normal {
	text-align:center;
	color:#f0efd1;
	padding:30px 0px;
	font-size:1.5em;
}
section.short-intro img
{
	margin-top:60px;
	text-align:center;
}


/***************Can Edit ******df4b28**********/

section.features {
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    background: #cfba58 url("assets/bg.png") top left repeat;
    color: #fff;
    padding: 70px 0 0;
    text-align: center;
    position: relative;

}

section.features .feature {
    *zoom: 1;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding: 25px 0 75px
}

section.features .feature:after {
    content: "";
    display: table;
    clear: both
}

section.features .graphic img
{
	width:100%;
}
section.features .feature .graphic {
}

section.features .feature .copy {
    
    line-height: 1.5
}

section.features .feature h2 {
    -webkit-font-smoothing: antialiased;
    font-weight: bolder;
	font-family: 'Raleway', sans-serif;	
    line-height: 1.3;
    font-size: 20px;
    margin-bottom: .5em;
    color: #fff;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
	letter-spacing: -0.05em;
	word-spacing:0.1em;
	text-transform:uppercase;

}
section.features .feature h3 {
	color:#fff;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.6);
	letter-spacing: -0.05em;
	word-spacing:0.1em;
	
}

section.features .feature p {
    margin-bottom: .8em;
    color: #191919;
	line-height:1.6em;
	
}

section.features .feature .copy {
    text-align: left
}

section.features .feature.simple .graphic h2 {
    font-size: 24px;
    margin-top: 1em
}

section.features .feature.sources .graphic {
    margin-right: 0;
}



section.features .feature.pricing .graphic {
 
    padding-top: 25px;
    height: 115px;
    background: transparent url("/images/bg.pricing.jpg") center center no-repeat;
    color: #fff;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.6);
    font-family: "PreloSlabBold", Rockwell, helvetica, arial, sans-serif;
    font-size: 48px
}

section.features .feature.pricing .graphic em, section.features .feature.pricing .graphic sub {
    font-size: 14px
}

section.features .feature.pricing .graphic sup {
    vertical-align: super;
    font-style: italic
}

section.features .feature.pricing .graphic small {
    display: block;
    margin-top: 15px;
    font-size: 10px;
    font-style: italic;
    font-family: "PT Sans", helvetica, arial, sans-serif
}

section.features .button {
    display: inline-block;
    bottom: -25px;
    z-index: 2
}

section.features .button:before {
    background-color: transparent
}


/********************************************/

section.text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fefdfc;
    padding: 30px
}

section.text .nav-pills {
    float: right
}

section.text .nav-pills a {
    color: #555
}

section.text .nav-pills li.active a {
    background: #555;
    color: #fff
}

section.text p {
    margin-bottom: 16px;
    line-height: 1.4
}

section.text em {
    font-style: italic
}

section.text ol {
    margin: 1em 1.2em
}

section.text ol li {
    list-style-type: decimal;
    line-height: 1.4
}

section.text ol li ol {
    margin: 1em 1em 1em 2em
}

section.text ol li ol li {
    list-style-type: lower-alpha;
    margin-bottom: .5em
}

section.text h1, section.text h2, section.text h3, section.text h4 {
    font-weight: bold;
    margin-bottom: .8em;
    color: #555
}

section.text h1 {
    font-size: 24px;
    border-bottom: 2px solid #555;
    padding: 10px 0
}

section.text h2 {
    font-size: 18px;
    border-bottom: 2px solid #555;
    text-transform: uppercase;
    margin: 1.2em 0
}

section.text h3 {
    font-size: 16px
}

section.text p.modified {
    text-align: center;
    font-style: italic;
    color: #ccc;
    padding: 10px
}
/*********************************/
body footer
{
	text-align: center;
	padding: 80px 0 20px;
	background: #191919;
	color: #a1a08f;
	clear:both;
}

section.testimonial-text
{
	background: #2f3f4f;
	padding:30px 0px 120px 0px;
}

section.testimonial-text  h1 {
	padding-top:200px;
    font-weight: bold;
    font-family: 'Kameron', helvetica, arial, sans-serif;
    line-height: 1.3;
    font-size: 36px;
    margin-bottom: .5em;
	text-align:center;
	float:left;
	color: #cfba58;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.6);
	
	
}

section.testimonial-text .testimonial {
	padding:60px 0px;
    display: inline-block
}
section.testimonial-text .testimonial p {

color: #fff;
line-height:1.5em;
padding:10px 20px;
border-bottom: 1px dashed #a1a08f;

}
h1.modal-title
{
	font-family: 'Kameron', serif;
	font-size: 44px;
	line-height: 52px;
	margin-bottom: 15px;
	color: #0b1b1f;
	text-shadow: 4px 4px 0 rgba(0,0,0,0.12);
}
form select {
	font-size:18px;
	color:#000;
  width: 100%;
	height:40px;
  border: 1px solid #ccc;
padding:0px 10px;
  background-color: #fff;
-webkit-appearance:none;
-moz-appearance:none;
-o-appearance:none;
border-radius:2px;
}
form label 
{
	text-align:left;
	margin-bottom:15px;
	float:left;
	color:#000;
}
form input
{
	color:#000;
}

/*************work page***************/

section.work
{
	min-height:500px;
	padding:60px 0px 30px;
	border-bottom: 1px dashed #a1a08f;
	
}
section.work h1
{
	color:#A30000;
    font-weight: bold;
    font-family: 'Kameron', helvetica, arial, sans-serif;
    line-height: 1.3;
    font-size: 36px;
	text-shadow: -1px -1px rgba(0, 0, 0, 0.6);
	margin-bottom:5px;
}

section.work p
{
	color:#888;
}
section.work p.tags
{
	margin-top:5px;
	font-style:italic;
	margin-bottom:30px;
}
section.work img 
{
	width:100%;
	padding:10px;
	background-color:#fff;
	border: 1px solid #ccc;
}

/******************Responsive styles**************/

@media (max-width: 1000px) {
	div.container
	{
		width:90%;
	}

}
@media (max-width: 500px) {

div.container
{
	width:100%;
}
	
}